extends layouts/layout
block append head
    title Raptor
    script(src="javascripts/vendors/custom.modernizr.js")
block append css
    link(rel="stylesheet" href="stylesheets/vendors/foundation.css")
    link(rel='stylesheet' href='stylesheets/app/dashboard.css')
block append content
    nav.top-bar(data-options="is_hover:true")
        ul.title-area
            li.name
                h1
                    a(href=server) Raptor
                        img(src="images/raptor.png")
        section.top-bar-section
            ul.left
                //li.active
                li.divider
                li
                    a(href=server+"/creator") Creator
                li.divider
                li
                    a(href=server+"/shop") Shop
                li.divider
                li
                    a(href=server+"/blog") Blog
                li.divider
                li
                    a(href=server+"/about") About
            ul.right
                li.divider
                li
                    a(id="panelBtn") #{title}
    .left_menu
        .left_menu_arrow(id="left_menu_arrow")
        ul.pricing-table
            li.title #{title}
            li.description User ID:
            li.price #{userId}
            //li.bullet-item Delete user
            li.description Upload new file
            li.bullet-item
                form(id="uploadFile")
                    input(id="uploadModel" type="file" name="model")
                    a.button.alert.radius.small(id="uploadBtn") Upload !
            li.description User functions
            li.cta-button
                a.button.radius.small.alert(id="showFileBtn") Show my models
            li.description Delete user
            li.cta-button
                a.button.alert.small.radius(id="deleteUser" data-user-id=userId) DeleteMe !
            //li.description Log out
            li.cta-button
                a.button.alert.small.radius(id="logOut") LogOut !
//    //h1= title
//    ul.f-dropdown.content(id="drop1" data-dropdown-content)
//        li #{title}
//li
//    form(id="uploadFile")
//        input(id="uploadModel" type="file" name="model")
//        a.button.alert.radius.tiny(id="uploadBtn") Upload!
//li
//    a.button.radius.small.alert(id="showFileBtn") Show my models
//li
//    a.button.alert.small.radius(id="deleteUser" data-user-id=userId) DeleteMe!
//li
//    a.button.alert.small.radius(id="logOut") LogOut!
block append javascript
    script(src="javascripts/vendors/jquery-1.10.2.js")
    script(src="javascripts/vendors/foundation.min.js")
    script(src="javascripts/app/dashboard.js")
    script.
        $(document).foundation();


